body{
  background: linear-gradient(#000011,#000022,#000044, #000066, #000099,#000055);
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: 0;
  z-index: -1;
  display: block;

}

h1{
  position: absolute;
  font-family: 'Gruppo';
  font-size: 63px;
  font-weight: bold;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding-bottom: 3px;
  padding-top: 3px;
  top: 1%;
  left: 5%;
  z-index: 100;
  display: block;
  color: white;
}

h2{
  font-family: 'Gruppo';
  text-align: center;
  padding:25px;
  text-decoration: none;
  font-size: 45px;
  font-weight:bolder;
}

h3{
  position: absolute;
  font-family: 'Gruppo';
  font-weight: bold;
  font-size: 25px;
  top: 6%;
  left: 35%;
  z-index: 99;
  display: block;
  color: white;
}

h4{
    position: absolute;
    font-family:'Gruppo';
    font-size: 15px;
    font-weight: bold;
    top: 90%;
    left:45%;
    z-index: 100;
    display: block;
    color: white;
}

a h4:hover{
  color:green;

}



.toddlers {
  width:300px;
  height: 200px;
  background:radial-gradient(rgba(255, 0, 0, 0.9), rgba(248,148,6,0.9),rgba(240,255,0,0.9));
  color:white;
  top: 35% ;
  left: 20% ;
  position: absolute;
  z-index: 100;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  opacity: 80%;
  border-radius: 30px;
  padding: 20px 30px;

}

.toddlers:hover{
  cursor: pointer;

  background: radial-gradient(#0000dd, #000099);


}

.elementary {
  width:300px;
  height: 200px;
  background:radial-gradient(rgba(255, 0, 0, 0.9), rgba(248,148,6,0.9),rgba(240,255,0,0.9));
  color:white;
  top: 35% ;
  left: 50% ;
  position: absolute;
  z-index: 100;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  opacity: 80%;
  border-radius: 30px;
  padding: 20px 30px;

}

.elementary:hover{
  cursor: pointer;

  background: radial-gradient(#0000dd, #000099);


}


.middle {
  width:300px;
  height: 200px;
  background:radial-gradient(rgba(255, 0, 0, 0.9), rgba(248,148,6,0.9),rgba(240,255,0,0.9));
  color:white;
  top: 35% ;
  left: 80% ;
  position: absolute;
  z-index: 100;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  opacity: 80%;
  border-radius: 30px;
  padding: 20px 30px;

}

.middle:hover{
  cursor: pointer;

  background: radial-gradient(#0000dd, #000099);


}

.high {
  width:300px;
  height: 200px;
  background:radial-gradient(rgba(255, 0, 0, 0.9), rgba(248,148,6,0.9),rgba(240,255,0,0.9));
  color:white;
  top: 70% ;
  left: 20% ;
  position: absolute;
  z-index: 100;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  opacity: 80%;
  border-radius: 30px;
  padding: 20px 30px;

}

.high:hover{
  cursor: pointer;

  background:radial-gradient(#0000dd, #000099);


}


.college {
  width:300px;
  height: 200px;
  background:radial-gradient(rgba(255, 0, 0, 0.9), rgba(248,148,6,0.9),rgba(240,255,0,0.9));
  color:white;
  top: 70% ;
  left: 50% ;
  position: absolute;
  z-index: 100;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  opacity: 80%;
  border-radius: 30px;
  padding: 20px 30px;

}

.college:hover{
  cursor: pointer;

  background: radial-gradient(#0000dd, #000099);


}

.careers {
  width:300px;
  height: 200px;
  background:radial-gradient(rgba(255, 0, 0, 0.9), rgba(248,148,6,0.9),rgba(240,255,0,0.9));
  color:white;
  top: 70% ;
  left: 80% ;
  position: absolute;
  z-index: 100;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  opacity: 80%;
  border-radius: 30px;
  padding: 20px 30px;

}

.careers:hover{
  cursor: pointer;

  background: radial-gradient(#0000dd, #000099);


}



footer{
  width: 100%;
  height: 300px;
  z-index: 100;
  background: black;
  opacity: 0.7;


}


.loader-wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: #242F3F;
    top: 0;
    left: 0;
    z-index:101
    ;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 1s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 1s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
